logic-app/ReceiveCustomerServiceRequest/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": "@variables('statusCode')",
                    "body": "@outputs('Compose_Response')"
                },
                "runAfter": {
                    "Compose_Response": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_variable_-_statusCode": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "statusCode",
                            "type": "integer",
                            "value": 200
                        }
                    ]
                },
                "runAfter": {}
            },
            "Initialize_variable_workflowRunId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "workflowRunId",
                            "type": "string",
                            "value": "@{workflow()['run']['name']}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_-_statusCode": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Compose_Response": {
                "type": "Compose",
                "inputs": {
                    "requestId": "@{variables('workflowRunId')}"
                },
                "runAfter": {
                    "Initialize_variable_workflowRunId": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "customerId": {
                                "type": "string"
                            },
                            "productId": {
                                "type": "string"
                            },
                            "problemDescription": {
                                "type": "string"
                            },
                            "tags": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}