logic-app/ReceiveCustomerServiceRequest/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": "@variables('statusCode')",
                    "body": "@variables('response')"
                },
                "runAfter": {
                    "catch": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_variable_-_statusCode": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "statusCode",
                            "type": "integer",
                            "value": 200
                        }
                    ]
                },
                "runAfter": {}
            },
            "Initialize_variable_workflowRunId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "workflowRunId",
                            "type": "string",
                            "value": "@{workflow()['run']['name']}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_-_statusCode": [
                        "SUCCEEDED"
                    ]
                }
            },
            "try": {
                "type": "Scope",
                "actions": {
                    "Send_message": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "entityName": "customer-service-in",
                                "message": {
                                    "contentData": "@triggerBody()",
                                    "messageId": "@variables('workflowRunId')",
                                    "correlationId": "@variables('workflowRunId')"
                                }
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "serviceBus-1",
                                "operationId": "sendMessage",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            },
                            "retryPolicy": {
                                "type": "none"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variable_response": [
                        "SUCCEEDED"
                    ]
                }
            },
            "catch": {
                "type": "Scope",
                "actions": {
                    "Set_variable_statusCode_(error)": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "statusCode",
                            "value": 500
                        }
                    },
                    "Set_variable_response_(error)": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "response",
                            "value": "{\n  \"message\": \"error submitting the request to the queue\"\n}"
                        },
                        "runAfter": {
                            "Set_variable_statusCode_(error)": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "try": [
                        "FAILED"
                    ]
                }
            },
            "Initialize_variable_response": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "response",
                            "type": "string",
                            "value": "{\n  \"requestId\": \"@{variables('workflowRunId')}\"\n}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_workflowRunId": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "customerId": {
                                "type": "string"
                            },
                            "productId": {
                                "type": "string"
                            },
                            "problemDescription": {
                                "type": "string"
                            },
                            "tags": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}