logic-app/GetOrderStatus/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Initialize_variable_-_customerNumber": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "customerNumber",
                            "type": "string",
                            "value": "@triggerOutputs()?['queries']?['customerNumber']"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Initialize_variable_orderNumber": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "orderNumber",
                            "type": "string",
                            "value": "@triggerOutputs()?['queries']?['orderNumber']"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_-_customerNumber": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Get_rows": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "tableName": "[dbo].[OrderHeader]",
                        "columnValuesForWhereCondition": {
                            "OrderNumber": "@{variables('orderNumber')}",
                            "CustomerNumber": "@{variables('customerNumber')}"
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "sql-1",
                        "operationId": "getRows",
                        "serviceProviderId": "/serviceProviders/sql"
                    }
                },
                "runAfter": {
                    "Initialize_variable_orderNumber": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "body": "@body('Get_rows')"
                },
                "runAfter": {
                    "Get_rows": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "GET"
                }
            }
        }
    },
    "kind": "Stateful"
}