logic-app/ProcessCustomerServiceRequest/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "type": "foreach",
                "foreach": "@triggerOutputs()?['body']",
                "actions": {
                    "Update_Entity": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "tableName": "customersvcreqs",
                                "entity": {
                                    "PartitionKey": "@{item()?['messageId']}",
                                    "RowKey": "@{item()?['messageId']}",
                                    "status": "processing"
                                }
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "azureTables",
                                "operationId": "updateEntity",
                                "serviceProviderId": "/serviceProviders/azureTables"
                            }
                        },
                        "runAfter": {
                            "Compose": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Compose": {
                        "type": "Compose",
                        "inputs": {
                            "messageId": "@{item()?['messageId']}"
                        }
                    },
                    "Send_message": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "entityName": "received-orders",
                                "message": {
                                    "contentData": "@item()?['contentData']",
                                    "messageId": "@item()?['messageId']"
                                }
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "recvdTopic",
                                "operationId": "sendMessage",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            }
                        },
                        "runAfter": {
                            "Update_Entity": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_messages_are_available_in_a_queue": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "queueName": "customer-service-in",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus-1",
                        "operationId": "receiveQueueMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                }
            }
        }
    },
    "kind": "Stateless"
}