logic-app/CheckStatus/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": "@variables('statusCode')",
                    "body": "@variables('response')"
                },
                "runAfter": {
                    "Catch": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_variable_statusCode": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "statusCode",
                            "type": "integer",
                            "value": 404
                        }
                    ]
                },
                "runAfter": {}
            },
            "Try": {
                "type": "Scope",
                "actions": {
                    "Get_Status": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "tableName": "customersvcreqs",
                                "partitionKey": "@triggerBody()?['requestId']",
                                "rowKey": "@triggerBody()?['requestId']"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "azureTables",
                                "operationId": "getEntity",
                                "serviceProviderId": "/serviceProviders/azureTables"
                            }
                        }
                    },
                    "Set_variable_response": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "response",
                            "value": "@body('Get_Status')"
                        },
                        "runAfter": {
                            "Get_Status": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Set_variable_statusCode": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "statusCode",
                            "value": 200
                        },
                        "runAfter": {
                            "Set_variable_response": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variable_response": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Catch": {
                "type": "Scope",
                "actions": {
                    "Set_variable_response_(error)": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "response",
                            "value": {
                                "result": "error"
                            }
                        }
                    },
                    "Set_variable_statusCode_(error)": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "statusCode",
                            "value": 500
                        },
                        "runAfter": {
                            "Set_variable_response_(error)": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Try": [
                        "FAILED"
                    ]
                }
            },
            "Initialize_variable_response": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "response",
                            "type": "object"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_statusCode": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "requestId": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}